﻿@model IEnumerable<Management.Database.Tables.Employee>

@{
    ViewData["Title"] = "Index";
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-success alert-dismissible show" role="alert">
        <h6 class="text-center">
            <span class="glyphicon glyphicon-ok-sign"></span>
            @TempData["Message"]
        </h6>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <input type="file" id="fileupload" name="files" class="form-control" />
        </div>
        <div class="col-md-3">
            <input type="button" name="Upload" value="Upload" id="btnupload" class="btn btn-primary" />
        </div>
    </div>
    <div class="clearfix">&nbsp;</div>
    <div class="row">
        <div id="divPrint"></div>
    </div>
</div>

<div class="container">
    <br />
    <table id="employeeTable" class="table table-bordered table-hover"
           style="width:100%">
        <thead>
            <tr>
                <th>Edit</th>
                <th>EmployeeGuid</th>
                <th>Number</th>
                <th>ForeNames</th>
                <th>Surname</th>
                <th>Date of birth</th>
                <th>Telephone</th>
                <th>Mobile</th>
                <th>Address</th>
                <th>Address2</th>
                <th>PostCode</th>
                <th>Email</th>
                <th>StartDate</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css" rel="stylesheet" />

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>


    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnupload').on('click', function () {
                var fileExtension = ['xls', 'xlsx'];
                var filename = $('#fileupload').val();
                if (filename.length == 0) {
                    alert("Please select a file.");
                    return false;
                }
                else {
                    var extension = filename.replace(/^.*\./, '');
                    if ($.inArray(extension, fileExtension) == -1) {
                        alert("Please select only excel files.");
                        return false;
                    }
                }
                var fdata = new FormData();
                var fileUpload = $("#fileupload").get(0);
                var files = fileUpload.files;
                fdata.append(files[0].name, files[0]);
                $.ajax({
                    type: "POST",
                    url: "/Employees/Import",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("XSRF-TOKEN",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                    data: fdata,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        location.reload(true);
                    },
                    error: function (e) {
                        $('#divPrint').html(e.responseText);
                    }
                });
            })

            //Table initialization
            $('#employeeTable').DataTable({
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "scrollX": true,
                "scrollY": "260px",
                "scrollCollapse": true,
                "ajax": {
                    "url": "/Employees/LoadEmployees",
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs": [{
                    "targets": [1],
                    "visible": false,
                    "searchable": false
                }],
                "columns": [
                    {
                        "render": function (data, type, full, meta) { return '<a class="btn btn-info" href="/Employees/Edit/' + full.employeeGuid + '">Edit</a>'; }
                    },
                    { "data": "employeeGuid", "name": "EmployeeGuid", "autoWidth": true },
                    { "data": "number", "name": "Number", "autoWidth": true },
                    { "data": "foreNames", "name": "ForeNames", "autoWidth": true },
                    { "data": "surname", "name": "Surname", "autoWidth": true },
                    { "data": "dateOfBirth", "name": "DateOfBirth", "autoWidth": true },
                    { "data": "telephone", "name": "Telephone", "autoWidth": true },
                    { "data": "mobile", "name": "Mobile", "autoWidth": true },
                    { "data": "address", "name": "Address", "autoWidth": true },
                    { "data": "address2", "name": "Address2", "autoWidth": true },
                    { "data": "postCode", "name": "PostCode", "autoWidth": true },
                    { "data": "emailHome", "name": "EmailHome", "autoWidth": true },
                    { "data": "startDate", "name": "StartDate", "autoWidth": true }
                ]
            });
        });

    </script>
}
